<div class="windowOutsideStyle" id="show-window-outside">
	<div class="heading"><%= @ontology.ontology_name %></div>
	<div class="windowInsideStyle" id="show-window-inside">
        <div id="CanvasContainer">
          <button id="UniteBtn">Объединить с..</button>
          <button id="ExcerptBtn">Выполнить выборку</button>
          <button id="CutBtn">Отсечь элементы</button>
          <button id="LocateBtn">"Поиск" элемента</button>
          <button id="UndoBtn"><%= image_tag "undo.png", {id: "UndoImg"} %></button>
          <button id="SaveBtn">Сохранить как..</button>
          <canvas id="DrawSpot"></canvas>
        </div>

		<h5>Список элементов онтологии:</h5>
		<input type="text" class="textField">
		<div class="list" id="show-list">
          <ul class="Container"></ul>
		</div>
	</div>
</div>

<table  id="ElementDataTable" style="">
    <tr>
        <td>id:</td>
        <td id="DataTableIdCell"></td>
    </tr>
    <tr>
        <td>name:</td>
        <td id="DataTableNameCell"></td>
    </tr>
    <tr>
        <td>data:</td>
        <td id="DataTableDataCell"></td>
    </tr>
</table>

<%= javascript_include_tag "show/init-script" %>
<%= javascript_include_tag "show/tree-list-script" %>
<%= javascript_include_tag "show/particle-system-handler" %>
<%= javascript_include_tag "show/operations" %>
